*{
  padding:0;
  margin:0;
  font-family:Arial, sans-serif;
}
body{
  background-color:lightgrey;
  
}
section{
  margin:3% 20%;
  background-color:white;
  height:16vh
}
h3{
  margin:1.5%;
  padding-bottom:2%;
}
.button{
  text-decoration: none;
  font-size:13px;
  border:1px solid black;
  padding:1.5% 3%;;
  margin:1.5%;
  color:black;
  transition: 0.2s;
}
.button:hover{
  color:white;
  background-color:black;
   
}
